<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>baseUrl</param-name>
        <param-value>http://uml.mvnsearch.org</param-value>
    </context-param>
    <servlet>
        <servlet-name>PlantumlGistServlet</servlet-name>
        <servlet-class>org.mvnsearch.plantuml.gist.PlantumlGistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantumlGithubServlet</servlet-name>
        <servlet-class>org.mvnsearch.plantuml.github.PlantumlGithubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantumlGitlabServlet</servlet-name>
        <servlet-class>org.mvnsearch.plantuml.gitlab.PlantumlGitlabServlet</servlet-class>
        <init-param>
            <param-name>gitlabUrl</param-name>
            <param-value>http://gitlab.mvnsearch.org</param-value>
        </init-param>
        <init-param>
            <param-name>userToken</param-name>
            <param-value>xxxxxx</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlantumlGistServlet</servlet-name>
        <url-pattern>/gist/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantumlGitlabServlet</servlet-name>
        <url-pattern>/gitlab/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantumlGithubServlet</servlet-name>
        <url-pattern>/github/*</url-pattern>
    </servlet-mapping>
</web-app>